<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aluad.p">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firstsScreens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MathAlarm.SetAlarmFromHistory"></activity>
        <activity
            android:name=".Settings_Preference"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_settings_white_36dp"
            android:label="@string/preference_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Preference_style" />
        <activity
            android:name=".MathAlarm.MainMathAlarm"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathAlarm.DisplayAlarmActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />



        <service
            android:name=".MathAlarm.MathAlarmService"
            android:enabled="true" />
        <service
            android:name=".MathAlarm.WakeLockService"
            android:enabled="true" />

        <receiver
            android:name=".MathAlarm.Alarm_Receiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="alarm_snooze" />
                <action android:name="alarm_dismiss" />
                <action android:name="alarm_start_new" />
            </intent-filter>
        </receiver>
    </application>

</manifest>